:root {
    --primary-50: 204 204 204;
    --primary-100: 191 191 191;
    --primary-200: 168 168 168;
    --primary-300: 135 135 135;
    --primary-400: 94 94 94;
    --primary-500: 69 69 69;
    --primary-600: 51 51 51;
    --primary-700: 38 38 38;
    --primary-800: 28 28 28;
    --primary-900: 20 20 20;
    --primary-950: 33 33 33;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}
